


<h1 >First International Digital Musicology Conference</h1>

<h2 >Invitation</h2>

<div style="margin-left: 25px;">

<p>We are pleased to announce the inaugural session of the biennial
<i>International Digital Musicology Conference</i>, which will be
held from <b>October 23–25, 2024</b>, at the Fryderyk Chopin Institute
in Warsaw, Poland.</p>

<p>This conference will focus on the integration of digital
technologies into musicological research, with a special emphasis
on introducing digital tools and methods to the Polish academic
community, where digital musicology has not yet been widely adopted.
The event aims to foster the exchange of knowledge and experience
by bringing together scholars, researchers, and practitioners from
various backgrounds.</p>

<p>Key features of the conference include presentations on innovative
research projects, hands-on workshops on digital methodologies, and
discussions on the practical application of these tools in music
research. The event will gather a mix of established experts,
emerging scholars, and participants new to digital approaches.</p>

<p>The Fryderyk Chopin Institute offers an ideal setting for this
important academic exchange, and we warmly invite representatives
from universities, music academies, research institutions, and
independent researchers to participate.</p>

</div>


<h2 >Organising Committee</h2>

<ul>
<li>Jacek Iwaszko</li>
<li>Craig Stuart Sapp</li>
<li>Benjamin Ory</li>
<li>Marcin Konik</li>
</ul>

<h2 >Conference Venue</h2>

<div style="margin-left: 25px;">
<p>
<b><a target="_blank" href="https://nifc.pl/en">The Fryderyk Chopin Institute</a></b><br>
<ul>
<li> <b>Address:</b> <a target="_blank" href="https://maps.app.goo.gl/Ui8LS3vEgmVZzggB9">Tamka 43, 00-355 Warsaw, Poland</a> </li>
<li> <b>Email:</b> <a href="mailto:dmc@nifc.pl">dmc@nifc.pl</a> </li>
</p>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d610.8475527273804!2d21.021965190268045!3d52.236295670773856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc58b11f2141%3A0x47b3ccddeb2568bb!2sNational%20Institute%20of%20Frederic%20Chopin!5e0!3m2!1sen!2spl!4v1727873314514!5m2!1sen!2spl" width="600" height="450" style="width:90%; border: 1px solid black;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<h2>Conference Hotel</h2>

<div style="margin-left: 25px;">
<p>
<b><a target="_blank" href="https://www.motel-one.com/en/hotels/warsaw/hotel-warsaw-chopin">Motel One Warsaw-Chopin</a></b>
<ul>
<li> <b>Address:</b> <a target="_blank" href="https://maps.app.goo.gl/V3earuJJ7GggediT8">Tamka 38, 00-355 Warsaw</a> (across the street from the Chopin Institute)</li>
<li> <b>Phone:</b>  +48 22 417 60 01
<li> <b>Email:</b>  <a href="mailto:warsaw-chopin@motel-one.com">warsaw-chopin@motel-one.com</a> </li>
</p>
</div>



