<!--
vim: ts=3:nowrap
-->

<h1>Schedule</h1>

<div id="schedule-container">

	<div id="2024-10-23" class="day">
		<h2>Wednesday, October 23, 2024</h2>
		<table class="tg">
			<tbody>
				<tr>
					<td class="hour">10:00</td>
					<td class="event">Welcome and coffee</td>
				</tr>
				<tr data-type="presentation" data-name="sapp"></tr>
				<tr>
					<td class="hour">11:30</td>
					<td class="event">Coffee break</td>
				</tr>
				<tr data-type="presentation" data-name="iwaszko"></tr>
				<tr data-type="presentation" data-name="konik"></tr>
				<tr>
					<td class="hour">13:00</td>
					<td class="event">Lunch break</td>
				</tr>
				<tr>
					<td class="hour">14:30</td>
					<td class="event">Workshop: <b>Introduction to Humdrum with Verovio Humdrum Viewer</b> <b class="linkicon hidden" onclick="goToDescription('workshops', 'nav-workshops', 'w0', 'w0-description')">↗</b> <br>
					Craig Stuart Sapp, Jacek Iwaszko
					</td>
				</tr>
				<tr>
					<td class="hour">16:00</td>
					<td class="event">Coffee break</td>
				</tr>
				<tr>
					<td class="hour">16:30</td>
					<td class="event">Workshop: <b>Google spreadsheets for online metadata access</b> <b class="linkicon hidden" onclick="goToDescription('workshops', 'nav-workshops', 'w1', 'w1-description')">↗</b> <br>
					Benjamin Ory, Craig Stuart Sapp, Jacek Iwaszko
					</td>
				</tr>
				<tr>
					<td class="hour">19:00</td>
					<td class="event">Conference dinner</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="2024-10-24" class="day">
		<h2>Thursday, October 24, 2024</h2>
		<table class="tg">
			<tbody>
				<tr data-type="presentation" data-name="shanahan"></tr>
				<tr data-type="presentation" data-name="kranenburg"></tr>
				<tr>
					<td class="hour">11:30</td>
					<td class="event">Coffee break</td>
				</tr>
				<tr data-type="presentation" data-name="dahlig-sapp"></tr>
				<tr data-type="presentation" data-name="matuszewska"></tr>
				<tr>
					<td class="hour">13:00</td>
					<td class="event">Lunch break</td>
				</tr>
				<tr>
					<td class="hour">14:30</td>
					<td class="event">Workshop: <b>Creating websites for digital musicology projects</b> <b class="linkicon hidden" onclick="goToDescription('workshops', 'nav-workshops', 'w2', 'w2-description')">↗</b> <br>
					Craig Stuart Sapp, Benjamin Ory
					</td>
				</tr>
				<tr>
					<td class="hour">16:00</td>
					<td class="event">Coffee break</td>
				</tr>
				<tr>
					<td class="hour">16:30</td>
					<td class="event">Workshop: <b>Mapping project</b> <b class="linkicon hidden" onclick="goToDescription('workshops', 'nav-workshops', 'w3', 'w3-description')">↗</b> <br>
					Benjamin Ory, Craig Stuart Sapp
					</td>
				</tr>
				<tr>
					<td class="hour">19:00</td>
					<td class="event">Concert</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="2024-10-25" class="day">
		<h2>Friday, October 25, 2024</h2>
		<table class="tg">
			<tbody>
				<tr data-type="presentation" data-name="ricciardi"></tr>
				<tr data-type="presentation" data-name="ory"></tr>
				<tr data-type="presentation" data-name="rodin"></tr>
				<tr>
					<td class="hour">11:30</td>
					<td class="event">Coffee break</td>
				</tr>
				<tr data-type="presentation" data-name="lee"></tr>
				<tr data-type="presentation" data-name="bell"></tr>
				<tr>
					<td class="hour">13:00</td>
					<td class="event">Lunch break</td>
				</tr>
				<tr>
					<td class="hour">14:30</td>
					<td class="event">Workshop: <b>Advanced Humdrum: Using terminal tools</b> <b class="linkicon hidden" onclick="goToDescription('workshops', 'nav-workshops', 'w4', 'w4-description')">↗</b> <br>
					Jacek Iwaszko, Craig Stuart Sapp
					</td>
				</tr>
				<tr>
					<td class="hour">16:00</td>
					<td class="event">Organizational meeting</td>
				</tr>
				<tr>
					<td class="hour">16:30</td>
					<td class="event">Tour: <b><a target="_blank" href="https://muzeum.nifc.pl/en">Chopin Museum</a></b></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>



